valid_remapped
lig_test
dataset.pkl
run_digs.sh
*.pdb
.vscode
slurm_logs/
*/output/
*/notebooks/
*/models/
__pycache__/
*/run_scripts/
unit_tests/
ruff.toml
*/scratch/
csblast-2.2.3/
outputs/
pdb100_2021Mar03/
RFAA_paper_weights.pt
SE3nv-20240131.sif
